%table.table.table-bordered
  %thead
    %tr
      %th Webブックのタイトル
      %th 購入金額
      %th 購入したユーザーのメールアドレス
      %th 購入したユーザーの氏名
      %th 購入日時
      %th Stripeの決済ID
      
  %tbody
    - @purchase_history_webbooks.each do |purchase_history_webbook|
      %tr
        // TODO　このゴリ押しは修正する
        %td= Webbook.find(purchase_history_webbook.webbook_id).title
        %td= Webbook.find(purchase_history_webbook.webbook_id).price
        %td= User.find(PurchaseHistory.find(purchase_history_webbook.id).user_id).email
        %td= User.find(PurchaseHistory.find(purchase_history_webbook.id).user_id).name
        %td= purchase_history_webbook.created_at
        %td= purchase_history_webbook.charge_id