%h2 ユーザー用Top Page

.card-group
  -@webbooks.each do |webbook|
    .col-md-4{style: "margin-bottom: 30px"}
      .card
        .row.no-gutters
          .col-md-6
            .bd-placeholder-img
              = image_tag webbook.image.variant(resize_to_fit: [160, 160]) if webbook.image.attached?
          .col-md-6
            .card-body
              .card-title
                %h5= link_to webbook.title, webbook_path(webbook)
              .card-text
                %p= webbook.author
              .card-text
                - if webbook.release_date > Date.today
                  %p= "#{webbook.release_date}発売予定"
                - else
                  %p= "#{webbook.release_date}発売"
              .card-text
                %h5= "#{webbook.price}円"