%h1 ユーザー登録

= form_with model: @user, url: signup_path, local: true do |f|
  .form-group
    = f.label :name, '名前'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :email, 'メールアドレス'
    = f.password_field :email, class: 'form-control'
  .form-group
    = f.label :password, 'パスワード'
    = f.password_field :password, class: 'form-control'
  .form-group
    = f.label :password_confirmation, 'パスワードの確認'
    = f.password_field :password_confirmation, class: 'form-control'
  = f.submit "作成", class: 'btn btn-primary'
