= form_with model: model, url: url, local: true do |f|
  .form-group
    = f.label :title, 'タイトル'
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :description, '説明'
    = f.text_area :description, rows: 5, class: 'form-control'
  .form-group
    = f.label :author, '著者'
    = f.text_field :author, class: 'form-control'
  .form-group
    = f.label :price, '価格'
    = f.text_field :price, class: 'form-control'
  .form-group
    = f.label :release_date, '発売日'
    = f.date_select :release_date, class: 'form-control'
  .form-group
    = f.label :release, 'リリース'
    = f.radio_button :release, class: 'form-control'
  .form-group
    = f.label :image, '表紙画像'
    = f.file_field :image, class: 'form-control'
  = f.submit '送信', class: 'btn btn-primary'