%h2 管理者用Webブックの詳細ページ

.card.mb-3
  .row.no-gutters
    .col-md-6
      .bd-placeholder-img{style: "margin-bottom: 30px"}
        = image_tag @webbook.image.variant(resize_to_fit: [500, 500]) if @webbook.image.attached?
    .col-md-6
      .card-body
        %h2= @webbook.title
        %p= @webbook.author
        %p= "#{@webbook.release_date}発売"
        %h4= "#{@webbook.price}円"
        // カート機能を作成後、リンクを追加する
    .card-body
      %h5= "説明"
      %p= @webbook.description
    .card-body
      // 後で、ページと目次の実装は追加する
      %h5= "目次"
// ユーザー画面からは見えないようにする
= link_to '編集', edit_admin_webbook_path, class: 'btn btn-primary mr-3'
= link_to 'ページを作成する', new_admin_webbook_page_path(params[:id])
= link_to 'この本を読む', admin_webbook_page_path(params[:id])