!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CherryOnline
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    .app-title.navbar.navbar-expand-md.navbar-light.bg-light
      .navbar-brand CherryOnline

      %ul.navbar-nav.ml-auto
        - if current_user
          %li.nav-item=link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link'
        - else
          %li.nav-item= link_to 'ログイン', login_path, class: 'nav-link'
    .row
      .container
        - if flash.notice.present?
          .alert.alert-success
            = flash.notice
        = yield